/* fiolet: #B803FE;
            rgba(184, 3, 254, 1); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

/* panel */

div.panel {
    position: fixed;
    top: 50%;
    left: -50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    transition: .5s;
}

div.panel.activeWindow {
    top: 50%;
    left: 50%;
}

div.panel h1 {
    margin: 8vh;
    text-align: center;
    color: #B803FE;
}

div.panel h1 span {
    text-transform: uppercase;
    color: black;
}

div.panel input {
    display: block;
    margin-bottom: 1.5vh;
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    padding: 10px;
    width: 100%;
    transition: 0.4s;
    font-size: 16px;
}

div.panel input:focus {
    border-bottom: 1px solid rgba(184, 3, 254, 0.8);
}

div.panel p {
    height: 0;
    line-height: 8vh;
    text-align: center;
    color: red;
    transition: .3s;
}

div.panel p.activeP {
    height: 8vh;
}

div.panel button {
    display: block;
    float: left;
    margin-top: 4vh;
    margin-bottom: 8vh;
    padding: 5px;
    width: 48%;
    background-color: white;
    border: 1px solid #B803FE;
    color: #B803FE;
    transition: .4s;
    font-size: 16px;
    cursor: pointer;
}

div.panel button:hover {
    background-color: #B803FE;
    color: white;
}

div.panel button:focus {
    outline: none;
}

div.panel button:nth-of-type(2) {
    float: right;
}

/* userInterface */

div.userInterfacePanel {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background-color: black;
}

div.userInterfacePanel div.container {
    margin: 0 auto;
    width: 85%;
    padding: 10vh 0 4vh;
}

div.userInterfacePanel div.container div {
    position: relative;
}

div.userInterfacePanel div.container div.button {
    float: left;
    width: 25%;
    padding: 2vh 0;
}

div.userInterfacePanel div.container div.search {
    float: right;
    padding: 4vh 0;
    width: 75%;
}

div.userInterfacePanel div button {
    display: block;
    /* margin: 0 auto; */
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    border: 2px solid #B803FE;
    background-color: #B803FE;
    font-size: 16px;
    font-weight: 900;
    color: white;
}

div.userInterfacePanel div input {
    display: block;
    padding: 0px 10px;
    width: 100%;
    height: 6vh;
}

div.userInterfacePanel div.toDoList {
    padding: 4vh 5vw 0;
}

div.userInterfacePanel div.toDoList div.task {
    width: 100%;
    color: white;
    margin-bottom: 5vh;
}

div.userInterfacePanel div.toDoList div.task div.taskHead {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid #B803FE;
    padding: 2vh 2vw;
    background-color: #B803FE;
    font-size: 20px;
}

div.userInterfacePanel div.toDoList div.task div.taskHead div {
    float: left;
}

div.userInterfacePanel div.toDoList div.task div.taskHead div.taskName {
    width: 70%;
    padding-left: 2vw;
}

div.userInterfacePanel div.toDoList div.task div.taskHead div.taskControllers {
    width: 30%;
    text-align: right;
}

div.userInterfacePanel div.toDoList div.task div.taskBody {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid #B803FE;
    border-top: none;
    padding: 2vh 5vw 5vh;
    background-color: rgb(245, 245, 245);
    color: black;
}

@media(orientation: landscape) {
    div.panel {
        width: 60vw;
    }

    div.panel h1 {
        margin: 12vh;
    }

    div.panel h1 span {
        text-transform: uppercase;
        color: black;
    }

    div.panel input {
        margin-bottom: 2.5vh;
    }

    div.panel button {
        margin-top: 6vh;
        margin-bottom: 12vh;
    }
}

@media (min-width: 360px) {
    :root {
        font-size: 18px;
    }

    div.panel input {
        font-size: 18px;
    }

    div.panel button {
        font-size: 18px;
    }
}

@media (min-width: 400px) {
    :root {
        font-size: 20px;
    }

    div.panel input {
        font-size: 20px;
    }

    div.panel button {
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    :root {
        font-size: 24px;
    }

    div.panel {
        width: 70vw;
    }

    div.panel input {
        font-size: 24px;
    }

    div.panel button {
        font-size: 24px;
        padding: 10px;
    }
}

@media (min-width: 1024px) {
    :root {
        font-size: 26px;
    }

    div.panel {
        width: 60vw;
    }

    div.panel input {
        font-size: 26px;
    }

    div.panel button {
        font-size: 26px;
    }
}

@media (min-width: 1366px) {
    :root {
        font-size: 30px;
    }

    div.panel {
        width: 50vw;
    }

    div.panel input {
        border-bottom: 2px solid grey;
        padding: 15px;
        font-size: 30px;
    }

    div.panel input:focus {
        border-bottom: 2px solid rgba(184, 3, 254, 0.8);
    }

    div.panel button {
        font-size: 30px;
        padding: 15px;
    }
}

/* Log in panel */

/* Sign up panel */

/* clearfix */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}